@media (--big-screen) {
  .reasons__item {
    width: calc(100% / 3 - 1%);
  }

  .icons__item {
    width: 32%;
    height: 50%;
    border-left: 1px dashed #ffffff;

    &:first-of-type,
    &:nth-of-type(4) {
      border-left: none;
    }

    &:nth-of-type(n+4) {
      border-bottom: none;
    }
  }

  .icons__picture {
    width: 50%;
  }
}

@media (--laptop-screen) {
  html {
    font-size: 50%
  }

  .logo {
    font-size: 4.5rem;
  }

  .menu__link {
    font-size: 1vw;
  }

  .banner__text {
    max-width: 100%;
  }

  .banner__title {
    font-size: 7rem;
  }

  .banner__subtitle {
    margin: 0 auto;
  }

  .reasons__item {
    max-width: 49%;
    margin-bottom: 4rem;
  }

  .reasons__picture {
    padding-bottom: 35%;

    img {
      width: 100%;
    }
  }

  .services {
    background-image: none;
    text-align: center;
  }

  .services__content {
    width: 49%;
    display: inline-block;
    margin-right: 1%;
    text-align: left;
    vertical-align: top;
  }

  .icons_services {
    width: 49%;
    position: static;
    transform: none;
    display: inline-block;
  }

  .team__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team__item {
    max-width: 49%;
    margin-bottom: 5%;
  }

  .social__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    text-align: center;
  }

  .contacts__icon {
    display: none;
  }

  .contacts__touch {
    padding: 0;
  }
}

@media (--tablet-screen) {
  html {
    font-size: 44.2%;
  }

  .header {
    text-align: center;
    max-height: 16rem;
  }

  .logo {
    float: none;
  }

  .menu {
    float: none;
    background-image: var(--gradient-fog-reverse);
    max-height: 100vh;
    width: 110vw;
    margin-left: -20vw;
    margin-top: 0.4vh;
  }

  .menu_hidden {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: var(--transition);
  }

  #menuToggle {
    display: block;
    background-image: url(../../images/burger__menu.svg);
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: none;
  }

  .menu__link {
    display: block;
    font-size: inherit;
  }

  .reasons__item {
    flex-grow: 1;
    max-width: 100%;
  }

  .banner {
    border-radius: 0;

    &:before {
      border-radius: 0;
    }
  }

  .about {
    text-align: center;

    &:before {
      display: none;
    }
  }

  .about .wrapper_flex {
    flex-wrap: wrap;
  }

  .about__content {
    max-width: 100%;
  }

  .blockquote {
    &:before {
      top: 0;
      left: 0;
      line-height: 0;
    }
  }

  .features__set {
    display: none;
  }

  .features__content {
    width: 100%;
    position: static;
    transform: none;
    padding: 0;
  }

  .team__content {
    &:after {
      display: none;
    }
  }

  .social__item {
    width: 33%;
    border: none;

    &:--enter {
      box-shadow: none;
    }
  }
}

@media (--mobile-screen) {
  .services__content{
    width: 100%;
    text-align: center;
  }

  .icons_services {
    width: 100%;
    margin-top: 5%;
  }

  .team__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__item {
    max-width: 100%;
  }

  .footer {
    padding: 3rem 1rem;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts__item {
    width: 100%;
    margin-bottom: 5%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .contact__title {
    display: block;
  }
}
