.team {
  text-align: center;
}

.team__content {
  display: flex;
  margin-top: 7rem;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 120%;
    height: 90%;
    margin: 0 -10%;
    background-color: var(--gray-bkg);
    position: absolute;
    top: 35%;
    z-index: -1;
    border-radius: var(--border-radius);
  }
}

.team__item {
  max-width: calc(100% / 5 - 20px);
}

.team__photo {
  overflow: hidden;
  height: 25rem;
  border-radius: var(--border-radius);

  img {
    object-fit: cover;
    min-height: 100%;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.team__name {
  font-size: 2.5rem;
  margin-top: 4rem;
  text-transform: capitalize;
}

.team__work {
  font-size: 2rem;
  font-weight: 300;
  color: var(--gray-text-color);
}
